body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #0a0a0a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 65px;
  background-color: #0a0a0a;
}
body header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
body header ul #logo {
  height: 70px;
}
body header ul a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  height: 100%;
}
body header ul li {
  list-style: none;
}
body header button {
  background-color: transparent;
  color: rgb(179, 179, 179);
  border: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  cursor: pointer;
}
body header button img {
  border-radius: 50%;
  background-color: gray;
  padding: 3px;
}
body .sub-header {
  min-height: 75px;
  background-color: rgb(35, 35, 35);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .sub-header ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
body .sub-header ul a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: center;
}
body .sub-header ul a::after {
  content: "";
  background-color: white;
  transition: 0.2s all ease-out;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: auto;
}
body .sub-header ul a:hover::after {
  width: 100%;
}
body .sub-header ul a:hover {
  background-color: rgb(35, 35, 25);
}
body .sub-header ul li {
  list-style: none;
}
body .sub-header input {
  background-color: transparent;
  border: none;
  padding: 16px;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 200px;
  width: 280px;
  height: 8px;
  outline: none;
}
body .sub-header input::-moz-placeholder {
  color: rgb(169, 169, 169);
  font-size: 16px;
}
body .sub-header input::placeholder {
  color: rgb(169, 169, 169);
  font-size: 16px;
}
body .sub-header input:hover {
  background-color: rgb(52, 52, 52);
}
body .sub-header #search {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
body .sub-header #Wishlist {
  color: white;
  text-decoration: none;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
body .sub-header #Wishlist::after {
  content: "";
  background-color: white;
  transition: 0.2s all ease-out;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: auto;
}
body .sub-header #Wishlist:hover::after {
  width: 100%;
}
body .sub-header #Wishlist:hover {
  background-color: rgb(35, 35, 25);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}
section button {
  position: relative;
  position: absolute;
  width: 180px;
  bottom: 18px;
  padding: 12px;
  background-color: transparent;
  color: orange;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-bottom: 2px solid orange;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  z-index: 1;
}
section button::before {
  content: "";
  height: 0%;
  width: 100%;
  left: 0;
  background-color: rgba(255, 166, 0, 0.071);
  transition: 0.3s all ease-in-out;
  position: absolute;
  bottom: 0;
  border: none;
}
section button:hover {
  color: white;
  border-radius: 200px;
}
section button:hover::before {
  border-radius: 200px;
  height: 100%;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main h2 {
  text-align: start;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid white;
}
main .image-container {
  width: 200px;
  height: 300px;
  border-radius: 14px;
  position: relative;
  transition: 0.3s all;
}
main .image-container:hover {
  transform: translateY(-12px);
}
main .image-container .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: 0.3s all;
  cursor: pointer;
  text-align: center;
}
main .image-container:hover .overlay {
  height: 100%;
}
main .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  z-index: -1;
  cursor: pointer;
}
main .slider-mmo {
  height: 400px;
  width: 90%;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-auto-columns: minmax(200px, 1fr);
  gap: 14px;
  overflow-x: auto;
  overflow-y: visible;
}
main .slider-mmo::-webkit-scrollbar {
  display: none;
}

.space {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.space #background {
  width: 90%;
  border-radius: 10px;
}
.space::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #0a0a0a 14%, rgba(0, 0, 0, 0.3) 50%, transparent);
  border-radius: 10px;
  z-index: 200;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.space .small-slider {
  position: absolute;
  bottom: 0;
  z-index: 100000;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
}
.space .aside {
  border-radius: 8px;
  height: 300px;
}
.space .ss-container {
  width: 240px;
  height: 300px;
  border-radius: 14px;
  position: relative;
  transition: 0.3s all;
}
.space .ss-container:hover {
  transform: translateY(-12px);
}
.space .ss-container .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 14px;
}
.space .ss-container:hover .overlay {
  height: 100%;
}
.space .ss-container img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  z-index: -1;
  cursor: pointer;
}

.scroll {
  opacity: 0;
  scale: 0.8;
  transition: 0.8s all ease-out;
  filter: blur(6px);
  transform: translateY(20%);
}

.show {
  opacity: 1;
  scale: 1;
  filter: blur(0);
  transform: translateY(0%);
}/*# sourceMappingURL=style.css.map */