*{
  padding: 0;
  margin: 0;
  color:white;
  font-family: sans-serif;
}
body{
  background-color: #001;
  display:flex;

}
.profile{
  display: flex;
  align-items: center;
  gap: 30px;
}
.profile .img-box{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  border:3px solid white;
  flex-shrink: 0;
}
.profile .img-box img{
  width: 100%;
}
.profile h2{
  text-transform: capitalize;
}


.menu{
  height: 100vh;
  width: 60px;
  background-color: #123;
  padding: 20px;
  overflow: hidden;
  transition: .5s;
}
.menu:hover{
  width: 260px;
}
.menu ul{
  list-style: none;
  position: relative;
  height: 95%;
}

.menu ul li a{
  display: block;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 47px;
  border-radius:8px;
  text-decoration: none;
  padding: 10px;
  transition: .5s;
}
.menu ul li a:hover, .active, .data-info .box:hover{
  background-color: #ffffff55;
}
.menu ul li a i{
  font-size: 30px;
}
.log-out a{
  background-color: #a00;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.content{
  width: 100%;
}
.title-info{
  background-color: #0181ff;
  display: flex;
  justify-content: space-between;
  padding :10px;
  margin: 10px 0px;
  border-radius: 8px;

}

.data-info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;

}
.data-info .box{
  background-color: #123;
  height: 150px;
  width: 150px;
  flex-basis: 150px;
  flex-grow: 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: .7s;
}
.data-info .box i{
  font-size: 40px;

}
.data-info .box .data{
  text-align: center;

}
.data-info .box .data span{
  font-size: 30px;
}

/*  */

.content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  align-items: center;
  height: 60vh;
  >div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 60%; */
    min-width: min(600px, 90%);
    background: rgba(255, 255, 255, 0.159);
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    >label span{
      text-transform: capitalize;
    }
    >input{
      background-color: rgba(1, 128, 255, 0.149);
      backdrop-filter: blur(10px);
      padding: 10px 20px;
      border-radius: 6px;
      margin: 10px 0px;
      outline: none;
      border:none;
      border: solid 1px #FFF;
      width:60%;
    }
    >input::placeholder{
      color:rgba(255,255,255,0.6);
    }
    
  }
  >.password{
    display: flex;
    flex-direction: column;

  }
  >button{
    background-color: #0181ff;
    padding:12px 10px;
    border:solid 1px #FFF;
    border-radius: 6px;
    box-shadow: 2px 2px rgba(1, 128, 255, 0.149);

  }
  >button:hover{
    border:solid 1px #0181ff;
    color:#0181ff;
    background-color: #FFF;
  }


}
